node_modules
.source-download/
cloud-config.local.json
.env
server/.env
build
chrome*
firefox*
edge*
dist
.vscode
.atom-build.yml
scripts/authenticator-build-key.enc
cert.pfx
css
.license-gen-tmp
view/licenses.html
./test
scripts/authenticator-build-key
scripts/test-runner.js
